/*====Default page styles=====*/
* {
  box-sizing: border-box;
}

body {
  min-width: 900px;
  margin: 0;
  padding: 0;

  font-weight: 500;
  font-size: 14px;
  line-height: 30px;
  font-family: 'Roboto', Arial, sans-serif;
  color: #000;
}

.clearfix::after {
  content: '';

  display: table;
  clear: both;
}

.container {
  width: 960px;
  margin: 0 auto;
  padding: 27px 64px 0 10px;
}

.visually-hidden {
  display: none;
}

ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

input {
  outline: none;
  border: 2px solid #d7dcde;
}

input:hover {
  border: 2px solid #a2a9ac;
}

input:focus {
  border: 2px solid #56bffb;
}

img {
  width: 100%;
  height: auto;
}

.btn {
  padding: 10px 0;

  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #fff;

  -webkit-transition: all 0.2s ease-out;

  transition: all 0.2s ease-out;
}

.page-header {
  margin-bottom: 56px;

  background-color: #eee;
}

.page-title {
  float: left;
  width: 300px;
  margin: 0;
  margin-right: 20px;
}

.page-title .page-link {
  display: block;
  width: 139px;
  height: 56px;
}

.page-menu {
  float: left;
  width: 430px;
  padding-top: 27px;
}

.page-menu li {
  display: inline-block;
  vertical-align: top;
  margin-right: 41px;
}

.page-menu li:last-child {
  margin-right: 0;
}

.page-menu a {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #000;
  text-transform: uppercase;
}

.page-basket {
  float: left;
  max-width: 230px;
  margin-left: 15px
}

.page-basket a {
  position: relative;

  display: block;
  padding-left: 21px;
  padding-top: 27px;

  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #000;
  text-transform: uppercase;
}

.page-basket .icon-basket::before {
  margin-right: 10px;
}

.page-header a:hover {
  color: #fb565a;
}

.page-header a:active {
  opacity: 0.4;
}

.page-menu .active-page {
  position: relative;

  padding-bottom: 10px;
}

.page-menu .active-page:hover,
page-menu .active-page:active {
  color:#000000;
  cursor: default;
}

.active-page::before {
  content: '';
  position: absolute;
  bottom: 0;

  width: 100%;
  height: 2px;

  background-color: #fb565a;
}

/*=====Style Page Slider=====*/

.page-slider {
  position: relative;

  margin-top: 34px;
}

.page-slider input {
  display: none;
}

.page-slider h2,
.page-slider p {
  margin: 0;
  padding: 0;

  text-transform: none;
}

.slider-inner .slides {
  display: none;
  padding: 38px 0;
}

.slides-text {
  width: 500px;
  margin-bottom: 36px;
}

.slides-text .slides-title {
  margin-bottom: 20px;

  font-size: 36px;
  font-weight: 500;
  line-height: 36px;
}

.slides-text .slides-desc {
  margin-bottom: 30px;

  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: #283136;
}

.slides-text .slides-btn {
  display: block;
  width: 240px;

  text-align: center;
  background-color: #fb565a;
  border-radius: 3px;
}

.slider-inner .slides-1 {
  background-image: url(../img/slide-1.png);
  background-repeat: no-repeat;
  background-position: 90% 17px;
}

.slider-inner .slides-2 {
  background-image: url(../img/slide-2.png);
  background-repeat: no-repeat;
  background-position: 90% 17px;
}

.slider-inner .slides-3 {
  background-image: url(../img/slide-3.png);
  background-repeat: no-repeat;
  background-position: 90% 17px;
}

.slider-controls {
  position: absolute;
  bottom: 74px;
  left:50%;

  margin-left: -70px;
}

.slider-controls label {
  display: inline-block;
  vertical-align: top;
  width: 4px;
  height: 4px;
  margin: 0 4px;

  background: #fff;
  border: 3px solid #fff;
  border-radius: 50%;
  cursor: pointer;

  box-sizing: content-box;
}

.slider-toggle1:checked ~ .slider-inner .slides-1 {
  display: block;
}

.slider-toggle2:checked ~ .slider-inner .slides-2 {
  display: block;
}

.slider-toggle3:checked ~ .slider-inner .slides-3 {
  display: block;
}

.slider-toggle1:checked ~ .slider-controls label[for="btn-1"],
.slider-toggle2:checked ~ .slider-controls label[for="btn-2"],
.slider-toggle3:checked ~ .slider-controls label[for="btn-3"]{
    background-color: #c1c1c1;
}

.slides .slides-btn:hover {
  color: #fff;

  background: #d6494d;
}

.slides .slides-btn:active {
  background-color: #b63639;
  box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0.15);
  opacity: 1;
}



/*=====Style Main Content=====*/
.products-block {
  margin-bottom: 80px;

  font-size: 0;
}

.products-block .products-item {
  display: inline-block;
  width: 240px;
  margin-right: 80px;

  vertical-align: top;

  font-size: 14px;
}

.products-block .products-item:last-child {
  margin-right: 0;
}

.products-item .item-img {
  width: 240px;
  height: 124px;
}

.products-item .item-title {
  margin: 0;
  margin-top: 23px;
  margin-bottom: 13px;

  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  color: #000;
  text-transform: uppercase;
}

.products-item .item-text {
  margin: 0;
  margin-bottom: 25px;

  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  color: #283136;
}

.products-item .item-btn {
  display: block;
  width: 140px;

  font-size: 12px;
  text-align: center;
  text-transform: uppercase;

  border-radius: 3px;
}

.products-item .btn_red {
  background-color: #fb565a;
}

.products-item .btn_green {
  background-color: #00ca74;
}

.products-item .btn_yellow {
  background-color: #efc84a;
}

.products-item .btn_red:hover {
  background-color: #d6494d;
}

.products-item .btn_green:hover {
  background-color: #01a25e;
}

.products-item .btn_yellow:hover {
  background-color: #d6ae2c;
}

.products-item .btn_red:active {
  background-color: #b63639;
  box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0.15);
}

.products-item .btn_green:active {
  background-color: #009053;
  box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0.15);
}

.products-item .btn_yellow:active {
  background-color: #c09b24;
  box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0.15);
}

/*=====About Studio Style=====*/
.about-studio-block {
  padding: 63px 0 44px;

  border-top: 2px solid #eee;
}

.inner-block-left {
  float: left;
	width: 575px;
	margin-right: 66px;
}

.inner-block-right {
  float: left;
	width: 240px;
}

.inner-block-left .block-title {
	margin: 0;
  margin-top: 10px;
  margin-bottom: 20px;

  font-weight: 500;
  font-size: 36px;
  line-height: 36px;
}

.inner-block-left .block-text {
  margin-bottom: 40px;

	font-size: 16px;
	font-weight: 500;
	line-height: 22px;
	color: #283136;
}

.list-title {
  margin-top: 25px;

	font-size: 16px;
	font-weight: 500;
	line-height: 22px;
	color: #283136;
	text-transform: uppercase;
}

.inner-block-left li,
.inner-block-right li {
	position: relative;

	display: block;
	padding-left: 35px;
  margin-bottom: 25px;

	font-size: 16px;
	font-weight: 500;
	line-height: 22px;
	color: #283136;
}

.inner-block-left li::before,
.inner-block-right li::before{
	content: '';
	position: absolute;
	top: 11px;
	left: 0;

	width: 25px;
	height: 2px;
	background-color: #fb565a;
}

.inner-block-right .block-img {
	width: 100%;
	height: 75px;
	padding: 0 27px;
	margin-bottom: 23px;
}

.block-img img{
	width: 187px;
	height: 75px;
}

.block-years {
	width: 100%;
  margin-bottom: 10px;

	text-align: center;
}

.block-years .years-title {
	position: relative;

	display: inline-block;
	padding: 0 14px;

	font-size: 16px;
	font-weight: 500;
	line-height: 9px;
	text-transform: uppercase;

	background-color: #fff;
	z-index: 2;
}

.block-years::after {
	content: '';
	position: relative;
	top: -17px;
	left: 0;

	display: block;
	width: 240px;
	height: 2px;

	background-color: #eee;
	z-index: 1;
}

.inner-block-right .list-title {
  margin-top: 58px;
}

/*=====Studio Works Style=====*/

.studio-works {
	padding: 40px 6px 38px;

  font-size: 0;

	border: 2px solid #eee;
	border-left: none;
	border-right: none;
}

.studio-works .studio-link {
	display: inline-block;
  vertical-align: middle;

	opacity: 0.2;
}

.studio-works .link-1 {
	width: 198px;
	height: 37px;
	margin-right: 125px;
}

.studio-works .link-2 {
	width: 199px;
	height: 68px;
	margin-right: 125px;
}

.studio-works .link-3 {
	width: 209px;
	height: 90px;
}

.studio-works .studio-link:hover,
.studio-works .studio-link:active {
  opacity: 1;
}

/*=====Style Map Contact Block=====*/

.map-wrapper {
  width: 100%;
}

.map-wrapper img {
  display: block;
}

.contacts-block {
  position: relative;
  margin-top: 85px;
}

.contact-wrapper {
  position: absolute;
  top: 50%;
  left: 161px;

  width: 250px;
  padding: 23px 20px 0;
  margin-top: -130px;;

  background-color: #fff;
}

.contact-wrapper .contact-title {
  margin: 0;
  margin-bottom: 13px;

  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
}

.contact-wrapper .contact-text {
  margin: 0;
  margin-bottom: 20px;

  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: #666;
}

.contact-text a {
  font-size: inherit;
  line-height: inherit;
  text-decoration: none;
  color: inherit;
}

.contact-wrapper .btn-contact {
  display: block;
  margin-top: 30px;
  margin-bottom: 25px;

  text-transform: uppercase;
  text-align: center;

  background-color: #fb565a;
  border-radius: 3px;
}

.contact-wrapper .btn-contact:hover {
  background-color: #d6494d;
}

.contact-wrapper .btn-contact:active {
  background-color: #b63639;
  box-shadow:inset 0 3px 0 0 rgba(0, 0, 0, 0.15);
}
/*=====Style Footer=====*/
.page-footer{
  padding: 56px 9px;
}

.page-footer .footer-social {
  float:left;
  width: 240px;
  margin-right: 39px;

  font-size: 0;
}

.footer-social .social {
  display: inline-block;
  width: 61px;
  height: 61px;
  margin-right: 28px;
  padding-top: 19px;
  vertical-align: top;

  font-size: 23px;
  line-height: 16px;
  color: #fff;
  text-align: center;

  background-color: #e1e1e1;
  border-radius: 50%;
}

.footer-social .social:last-child {
  margin-right: 0;
}

.footer-social .social:hover {
  background-color: #fb565a;
}

.footer-social .social:active {
  background-color: #b63639;
  box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0.15);
}


.page-footer .footer-slogan {
  float: left;
  width: 540px;
  margin-left: 39px;
}

.footer-slogan p {
  margin: 0;
}

.footer-slogan .slogan-title {
  font-size: 36px;
  font-weight: 500;
  line-height: 36px;
}

.footer-slogan .slogan-discount {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: #283136;
}

/*=====Style Catalog=====*/

.catalog-title {
  width: 665px;
  margin: 0 auto;
  padding-top: 67px;
  padding-bottom: 84px;

  clear: both;
}

.catalog-title h1 {
  margin: 0;

  font-size: 40px;
  font-weight: 500;
  line-height: 46px;
  text-transform: uppercase;
  text-align: center;
}

/*====Styles Form=====*/

.catalog-filter {
  float: left;
  width: 240px;
  margin-right: 80px;
}

.catalog-filter input:disabled + label::before{
  opacity: 0.3;
}

.catalog-filter fieldset {
  padding: 0;
  margin: 0;
  margin-bottom: 50px;

  border: 0;
  outline: 0;
}

.catalog-filter legend {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;

  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.range-filter .range-control {
  position: relative;
  margin-bottom: 13px;

  width: 240px;
  padding: 39px 20px;

  background: #f1f1f1;
  border-radius: 5px;
}

.range-control .scale {
  height: 2px;

  background-color: #d7dcde;
}

.scale .bar {
  margin-right: 48px;
  height: 2px;

  background: #00ca74;
}

.toggle {
  position: absolute;

  width: 20px;
  height: 20px;

  border: 8px solid #ffffff;
  border-radius: 50%;
  background-color: #ababab;
  cursor: pointer;
}

.min-toggle {
  top: 30px;
  left: 20px;
}

.max-toggle {
  top: 30px;
  right: 60px;
}

.price-control {
  font-size: 0;
}

.price-control label{
  display: inline-block;
  width: 50%;

  font-size: 16px;
  text-transform: uppercase;
}

.price-control .max-price {
  text-align: right;
}

.price-control input {
  width: 80px;
  margin-left: 8px;
  padding: 8px 10px;

  font-size: 16px;
  text-align: center;
  color: #283136;

  border: none;
  border-radius: 5px;
  outline: none;
  background-color: #f1f1f1;
}

.grid-filter input[type="radio"] {
  display: none;
}

.grid-filter .grid-item {
  display: block;
  margin-bottom: 15px;

  font-size: 16px;
  font-weight: inherit;
  line-height: 20px;
  color: #283136;
}

.grid-filter .icon-circle::before {
  margin: 0;
  margin-right: 10px;

  font-size: 25px;
  color: #c1c1c1;
  vertical-align: middle;
}

.radiobtn:checked + .icon-circle::before {
  content:'\25cf';
}

.features-filter input[type="checkbox"] {
  display: none;
}

.features-filter .features-item {
  display: block;
  margin-bottom: 15px;

  font-size: 16px;
  font-weight: inherit;
  line-height: 20px;
  color: #283136;
}

.features-filter .icon-check::before {
  margin: 0;
  margin-right: 10px;

  font-size: 25px;
  color: #c1c1c1;
  vertical-align: middle;
}


.checkbox:checked + .icon-check::before {
  content: '\2611';
}

.catalog-filter .btn-form {
  width: 155px;
  padding: 14px 0;

  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;

  background-color: #f1f1f1;
  border: none;
  outline: none;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.catalog-filter .btn-form:hover {
  background-color: #e5e5e5;
}

.catalog-filter .btn-form:active {
  background-color: #d5d5d5;
  box-shadow:inset 0 3px 0 0 rgba(0, 0, 0, 0.15)
}
