/*====Default page styles=====*/
* {
  box-sizing: border-box;
}

body {
  min-width: 900px;
  margin: 0;
  padding: 0;

  font-weight: 500;
  font-size: 14px;
  line-height: 30px;
  font-family: 'Roboto', Arial, sans-serif;
  color: #000;
}

.clearfix::after {
  content: '';

  display: table;
  clear: both;
}

.container {
  width: 960px;
  margin: 0 auto;
  padding: 27px 10px 0 10px;
}

.visually-hidden {
  display: none;
}

ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

a {
  text-decoration: none;
}

input {
  outline: none;
  border: 2px solid #d7dcde;
}

input:hover {
  border: 2px solid #a2a9ac;
}

input:focus {
  border: 2px solid #56bffb;
}

img {
  width: 100%;
  height: auto;
}

.btn {
  padding: 10px 0;

  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #fff;
}

.page-header {
  margin-bottom: 80px;

  background-color: #eee;
}

.page-title {
  float: left;
  width: 300px;
  margin: 0;
  margin-right: 20px;
}

.page-title .page-link {
  display: block;
  width: 139px;
  height: 56px;
}

.page-menu {
  float: left;
  width: 430px;
  padding-top: 27px;
}

.page-menu li {
  display: inline-block;
  vertical-align: top;
  margin-right: 41px;
}

.page-menu li:last-child {
  margin-right: 0;
}

.page-menu a {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #000;
  text-transform: uppercase;
}

.page-basket {
  float: left;
  max-width: 230px;
  margin-left: 15px
}

.page-basket a {
  position: relative;

  display: block;
  padding-left: 21px;
  padding-top: 27px;

  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #000;
  text-transform: uppercase;
}

.page-basket .icon-basket::before {
  margin-right: 10px;
}

.page-header a:hover {
  color: #fb565a;
}

.page-header a:active {
  opacity: 0.4;
}

.active-page {
  position: relative;

  padding-bottom: 10px;
}

.active-page::before {
  content: '';
  position: absolute;
  bottom: 0;

  width: 100%;
  height: 2px;

  background-color: #fb565a;
}

/*=====Style Page Slider=====*/

.page-slider {
  position: relative;

  margin-top: 34px;
}

.page-slider input {
  display: none;
}

.page-slider h2,
.page-slider p {
  margin: 0;
  padding: 0;

  text-transform: none;
}

.slider-inner .slides {
  display: none;
  padding: 38px 0;
}

.slides-text {
  width: 500px;
  margin-bottom: 36px;
}

.slides-text .slides-title {
  margin-bottom: 20px;

  font-size: 36px;
  font-weight: 500;
  line-height: 36px;
}

.slides-text .slides-desc {
  margin-bottom: 30px;

  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: #283136;
}

.slides-text .slides-btn {
  display: block;
  width: 240px;

  text-align: center;
  background-color: #fb565a;
  border-radius: 3px;
}

.slider-inner .slides-1 {
  background-image: url(../img/slide-1.png);
  background-repeat: no-repeat;
  background-position: 90% 17px;
}

.slider-inner .slides-2 {
  background-image: url(../img/slide-2.png);
  background-repeat: no-repeat;
  background-position: 90% 17px;
}

.slider-inner .slides-3 {
  background-image: url(../img/slide-3.png);
  background-repeat: no-repeat;
  background-position: 90% 17px;
}

.slider-controls {
  position: absolute;
  bottom: 74px;
  left:50%;

  margin-left: -70px;
}

.slider-controls label {
  display: inline-block;
  vertical-align: top;
  width: 4px;
  height: 4px;
  margin: 0 4px;

  background: #fff;
  border: 3px solid #fff;
  border-radius: 50%;
  cursor: pointer;

  box-sizing: content-box;
}

.slider-toggle1:checked ~ .slider-inner .slides-1 {
  display: block;
}

.slider-toggle2:checked ~ .slider-inner .slides-2 {
  display: block;
}

.slider-toggle3:checked ~ .slider-inner .slides-3 {
  display: block;
}

.slider-toggle1:checked ~ .slider-controls label[for="btn-1"],
.slider-toggle2:checked ~ .slider-controls label[for="btn-2"],
.slider-toggle3:checked ~ .slider-controls label[for="btn-3"]{
    background-color: #c1c1c1;
}

/*=====Style Main Content=====*/
.products-block {
  margin-bottom: 80px;

  font-size: 0;
}

.products-block .products-item {
  display: inline-block;
  width: 240px;
  margin-right: 80px;

  vertical-align: top;

  font-size: 14px;
}

.products-block .products-item:last-child {
  margin-right: 0;
}

.products-item .item-img {
  width: 240px;
  height: 124px;
}

.products-item .item-title {
  margin: 0;
  margin-top: 23px;
  margin-bottom: 20px;

  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  color: #000;
  text-transform: uppercase;
}

.products-item .item-text {
  margin: 0;
  margin-bottom: 20px;

  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  color: #283136;
}

.products-item .item-btn {
  display: block;
  width: 140px;

  font-size: 12px;
  text-align: center;
  text-transform: uppercase;

  border-radius: 3px;
}

.products-item .btn_red {
  background-color: #fb565a;
}

.products-item .btn_green {
  background-color: #00ca74;
}

.products-item .btn_yellow {
  background-color: #efc84a;
}

.products-item .btn_red:hover {
  background-color: #d6494d;
}

.products-item .btn_green:hover {
  background-color: #01a25e;
}

.products-item .btn_yellow:hover {
  background-color: #d6ae2c;
}

.products-item .btn_red:active {
  background-color: #b63639;
  box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0.15);
}

.products-item .btn_green:active {
  background-color: #009053;
  box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0.15);
}

.products-item .btn_yellow:active {
  background-color: #c09b24;
  box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0.15);
}

/*=====About Studio Style=====*/
.about-studio-block {
  padding: 74px 0 72px;
    
  border-top: 1px solid #eee;
}

.inner-block-left {
  float: left;
	width: 575px;
	margin-right: 64px;
}

.inner-block-right {
  float: right;
	width: 240px;
}

.inner-block-left .block-title {
	margin: 0;
  margin-bottom: 20px;
    
  font-weight: 500;
  font-size: 36px;
  line-height: 36px;
}

.inner-block-left .block-text {
	font-size: 16px;
	font-weight: 500;
	line-height: 22px;
	color: #283136;
}

.list-title {
	font-size: 16px;
	font-weight: 500;
	line-height: 22px;
	color: #283136;
	text-transform: uppercase;
}

.inner-block-left li,
.inner-block-right li {
	position: relative;
	
	display: block;
	padding-left: 35px;
	
	font-size: 16px;
	font-weight: 500;
	line-height: 22px;
	color: #283136;
}

.inner-block-left li::before,
.inner-block-right li::before{
	content: '';
	position: absolute;
	top: 11px;
	left: 0;
	
	width: 25px;
	height: 2px;
	background-color: #fb565a; 
}

.inner-block-right .block-img {
	width: 100%;
	height: 75px;
	padding: 0 27px;
	margin-bottom: 30px;
}

.block-img img{
	width: 187px;
	height: 75px;
}

.block-years {	
	width: 100%;
	
	text-align: center;
}

.block-years .years-title {	
	position: relative;
	
	display: inline-block;	
	padding: 0 14px;
	
	font-size: 16px;
	font-weight: 500;
	line-height: 9px;
	text-transform: uppercase;
	
	background-color: #fff;
	z-index: 2;
}

.block-years::after {
	content: '';
	position: relative;
	top: -17px;
	left: 0;
	
	display: block;
	width: 240px;
	height: 2px;
	
	background-color: #eee;
	z-index: 1;
}

/*=====Studio Works Style=====*/

.studio-works {
	padding: 55px 40px 42px;
	border: 1px solid #eee;
	border-left: none;
	border-right: none;	
}

.studio-works .studio-link {
	float: left;
	opacity: 0.2;
}

.studio-works .link-1 {
	width: 198px;
	height: 37px;
	margin-right: 125px;
}

.studio-works .link-2 {
	width: 199px;
	height: 68px;
	margin-right: 125px;
}

.studio-works .link-3 {
	width: 209px;
	height: 90px;
}